<div class="header-wrapper">
  <a href={{moreHref}}><h2>{{title}}</h2></a>

  {{#d-button action=createTopic class="btn-primary btn"}}
    {{theme-i18n "showcased_categories.new_post"}}
  {{/d-button}}
</div>

{{#conditional-loading-spinner condition=isLoading}}
  {{topic-list topics=topicList showPosters=false}}
{{/conditional-loading-spinner}}

<a href={{moreHref}} class="btn btn-more">
  {{theme-i18n "showcased_categories.view_more"}}
</a>
